$disabled-color: rgb(66, 66, 66);
$primary-color: rgb(172, 5, 172);
$primary-color-hover: rgb(221, 1, 221);
$accent-color: rgb(5, 111, 172);
$accent-color-hover: rgb(0, 131, 238);
$default-color: rgb(77, 77, 77);
$default-color-hover: rgb(97, 97, 97);

* {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif !important;
}
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
::placeholder {
  vertical-align: bottom;
  color: $default-color-hover;
  font-size: 1.1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  padding: 50px 100px 50px 100px;
  border: 15px solid transparent;
  border-radius: 15px;
  background: #2b2b2b;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}
// Change outline of button on click

// Button styles
//Add custom style for on-click
.primary {
  margin-top: 10px;
  background: $primary-color;
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border: 1px solid $primary-color;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover,
  &:focus {
    cursor: pointer;
    background: $primary-color-hover;
    border: 1px solid $primary-color-hover;
    outline: none;
  }

  &:active {
    background: $primary-color;
    border: 1px solid $primary-color;
    outline: none;
  }
}
.accent {
  margin-top: 10px;
  background: $accent-color;
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border: 1px solid $accent-color;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover,
  &:focus {
    cursor: pointer;
    background: $accent-color-hover;
    border: 1px solid $accent-color-hover;
    outline: none;
  }
  &:active {
    background: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
}
.default {
  margin-top: 10px;
  background: $default-color;
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border: 1px solid $default-color;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover,
  &:focus {
    cursor: pointer;
    background: $default-color-hover;
    border: 1px solid $default-color-hover;
    outline: none;
  }
  &:active {
    background: $default-color;
    border: 1px solid $default-color;
    outline: none;
  }
}
.disabled {
  cursor: not-allowed;
  margin-top: 10px;
  background: $disabled-color;
  color: rgb(160, 160, 160);
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border: 1px solid $disabled-color;
  border-radius: 6px;
}

// Form styles
.textField {
  font-size: 1.25rem;
  background: none;
  border: none;
  transition: all 0.3s;
  color: $default-color;
  border-bottom: 2px solid $default-color;

  &:focus {
    outline: none;
    border: none;
    color: white;
    border-bottom: 2px solid white;
  }
}

// Checkbox styling
// TODO: Figure out how to style when hovering and focused
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.3em;
  font-size: 1rem;
  margin-top: 10px;
}

.checkbox__input {
  display: grid;
  grid-template-areas: 'checkbox';

  input {
    opacity: 0;
    width: 1em;
    height: 1em;
  }

  > * {
    grid-area: checkbox;
    margin-top: -2.1px;
  }

  input:checked + .checkbox__control svg {
    transform: scale(1);
  }
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border: 0.15em solid $primary-color;
  border-radius: 0.25em;

  svg {
    transition: transform 0.1s ease-in 25ms;
    filter: invert(48%) sepia(79%) saturate(400%) hue-rotate(270deg)
      brightness(70%) contrast(100%);
    transform: scale(0);
  }
}
